body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f6f6f6;
}

.bg-none{
    background: none;
}

/* Untuk elemen hijau */
.green{
    color:#22B573;
}

/* Untuk background hijau */
.bg-green{
    background-color: #22B573;
}

/* Button outline hijau */
.btn-outline-green {
    color: #22B573;
    border-color: #22B573;
}

/* Button hijau & hover button outline hijau */
.btn-outline-green:hover, .btn-green {
    background-color: #22B573;
    color: white;
}

/* Hover button hijau */
.btn-green:hover{
    background-color: white;
    color: #22B573;
    border-color: #22B573;
}


/*styling laman login guys*/
.wrap-log{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-logbox{
    max-width: 30vw;
    min-width: 300px;
    margin: auto;
    padding: 30px 30px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

.fg{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bot-log{
    background-color: #22B573;
    border: none;
}

.bot-log:hover{
    background-color: white;
    color: #22B573;
}

.bot-log-pen{
    font-size: 0.8em;
    color: #22B573;
    list-style-type: none;
}
/*=======================*/

/* Buat di dashboard */
/* Force square image */
.squareImg{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.squareImg img{
    position:absolute;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    transform: translateX(-50%);
}
.profile-user-img {
    border:3px solid #adb5bd;
    margin:0 auto;
    padding:3px;
    width:200px;
}
.img-fluid {
    max-width:100%;
    height:auto;
}
.img-circle {
    border-radius:50%;
}

@media screen and (min-width: 992px) {
    .wrapper {
        height: 90vh;
    }
}
/* Card Konfirmasi Pembayaran */
.card-green{
    background-color: white;
    color: #22B573;
    border-color: #22B573;
}
/* Buat tabs */
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #22B573 !important;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #22B573 !important;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.link-green{
    color:#22B573;
}
.link-green:hover{
    color:#22B573;
    font-weight: bold;
}

/* Fade In animation */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;   
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Tabel Dashboard */
/* =========================================================================== */
.table-t {
    width: 100%;
    display: table;
    margin: 0;
}
  
@media screen and (max-width: 768px) {
    .table-t {
      display: block;
    }
}
  
.row-t {
    display: table-row;
    background: #fff;
    /* border: #333 1px solid; */
}
  
.row-t.header-t {
    color: #ffffff;
    background: #22B573;
}
  
@media screen and (max-width: 768px) {
    .row-t {
        display: block;
    }
    
    .row-t.header-t {
        padding: 0;
        height: 0px;
    }
    
    .row-t.header-t .cell-t {
        display: none;
    }
    
    .row-t .cell-t:before {
        font-weight: bold;
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: block;
    }
}
  
.cell-t {
    display: table-cell;
    text-align: center;
}
  
@media screen and (max-width: 768px) {
    .cell-t {
      display: block;
      text-align: start;
    }
}
  
.row-t .cell-t {
    font-weight: normal;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
  
.row-t.header-t .cell-t {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
  
    padding-top: 19px;
    padding-bottom: 19px;
}
  
.row-t .cell-t:nth-child(1) {
    width: 20%;
    /* padding-left: 40px; */
}
  
.row-t .cell-t:nth-child(2) {
    width: 20%;
}
  
.row-t .cell-t:nth-child(3) {
    width: 20%;
}
  
.row-t .cell-t:nth-child(4) {
    width: 20%;
}

.row-t .cell-t:nth-child(4) {
    width: 20%;
}
  
  
.table-t, .row-t {
    width: 100% !important;
}
  
.row-t:hover {
    background-color: #ececff;
    cursor: pointer;
}

.row-t.header-t:hover{
    background-color: #22B573;
}
  
@media (max-width: 768px) {
    .row-t {
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 18px;
      padding-top: 30px;
      padding-right: 15px;
      margin: 0;
    }
    
    .row-t .cell-t {
      border: none;
      padding-left: 30px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .row-t .cell-t:nth-child(1) {
      padding-left: 30px;
    }
    
    .row-t .cell-t {
      font-weight: normal;
      font-size: 18px;
      color: #555555;
      line-height: 1.2;
      font-weight: unset !important;
    }
  
    .table-t, .row-t, .cell-t {
      width: 100% !important;
    }
}
/* ====================================================== */

/* Footer */
.main-footer{
    background-color: #1A2B3D;
}

.link, .link:hover{
    color:white;
    text-decoration: none;
}

/* Detail Pengajar */
.text-gray{
    color : #6e6e6e;
}

a.text-gray:hover{
    color : #414141;
}
.profile-user-img-small {
    border:3px solid #adb5bd;
    margin:0 auto;
    padding:3px;
    width:75px;
}


/*buat search bar bos*/
.cont-searchbox{
    max-width: 40vw;
    min-width: 300px;
    margin: auto;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

.header-cont{
    height: 100vh;
    background-image: url(/imageSource/home-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

.cont-header{
    margin: auto;
}

.header-text{
    color: white;
}
/*===================*/

/*buat home container*/
.home-cont{
    height: fit-content;
    padding: 20px 10vw;
}

.cont-homecontent{
    width: 100%;
    height: 45vh;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

.homecontext{
    margin: 20px 0px;
    color: #6e6e6e;
}
/*===================*/