body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f6f6f6;
}

.bg-none{
    background: none;
}

.green{
    color:#22B573;
}

.bg-green{
    background-color: #22B573;
}

.btn-outline-green {
    color: #22B573;
    border-color: #22B573;
}

.btn-outline-green:hover, .btn-green {
    background-color: #22B573;
    color: white;
}

.btn-green:hover{
    background-color: white;
    color: #22B573;
    border-color: #22B573;
}


/*styling laman login guys*/
.cont-logbox{
    max-width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

.fg{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bot-log{
    background-color: #22B573;
    border: none;
}

.bot-log:hover{
    background-color: white;
    color: #22B573;
}
/*=======================*/