body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #f6f6f6;
}

.bg-none{
    background: none;
}

/* Untuk elemen hijau */
.green{
    color:#22B573;
}

/* Untuk background hijau */
.bg-green{
    background-color: #22B573;
}

/* Button outline hijau */
.btn-outline-green {
    color: #22B573;
    border-color: #22B573;
}

/* Button hijau & hover button outline hijau */
.btn-outline-green:hover, .btn-green {
    background-color: #22B573;
    color: white;
}

/* Hover button hijau */
.btn-green:hover{
    background-color: white;
    color: #22B573;
    border-color: #22B573;
}


/*styling laman login guys*/
.wrap-log{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-logbox{
    max-width: 30vw;
    min-width: 300px;
    margin: auto;
    padding: 30px 30px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

.fg{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bot-log{
    background-color: #22B573;
    border: none;
}

.bot-log:hover{
    background-color: white;
    color: #22B573;
}

.bot-log-pen{
    font-size: 0.8em;
    color: #22B573;
    list-style-type: none;
}
/*=======================*/

/* Buat di dashboard */
/* Force square image */
.squareImg{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.squareImg img{
    position:absolute;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* .squareImg img{
        position:absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateX(-50%);
    } */
}
/* Card Konfirmasi Pembayaran */
.card-green{
    background-color: white;
    color: #22B573;
    border-color: #22B573;
}